

@font-face {
  font-family: 'trajan';
  src: url('../public/trajan.ttf') format('truetype');
}
@font-face {
  font-family: 'amazon';
  src: url('../public/amazon.ttf') format('truetype');
}

@font-face {
  font-family: 'sacramento';
  src: url('../public/Sacramento-Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'elegant';
  src: url('../public/elegant.otf') format('truetype');
}

@font-face {
  font-family: 'w3';
  src: url('../public/DFT_TX3.ttf') format('truetype');
}


.logo-container {
  text-align: center;
}


.logo-container img {
  width: 60%;
}

.image-container {
  min-height: 60dvh;
  background-image: url(../public/drag.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; /* 將背景圖片置中 */
}